<html>
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>

  <div class="container" >
  
<div>
    Hello! Welcome to Tai's Blog! This page is a web app that's meant to function as a
    online taskmanager. This is an example to demonstrate my django skills.
    {% if not user.is_authenticated %}
    	<a href="{% url 'login' %}">Click here to log in</a>
    {% else %}
    You are logged in. <a href="{% url 'logout' %}">Click here to logout.</a>
    {% endif %}
</div>

{% block content %}
{% endblock %}

</body>
</html>