<html>
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>

  <div class="container" >
  
<div>
    Hello! Welcome to Tai's Blog! This page is a web app that's meant to function as a
    online taskmanager. This is an example to demonstrate my django skills.
</div>

<table class="table">
    <thead>
        <tr>
            <th>Task Number</th>
            <th>Task Name</th>
            <th>Notes</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr>
            <th scope="row">1</th>
            <td>{{task.title}}</td>
            <td>{{task.text}}</td>
            <td>
                <form method="POST" class="post-form">{% csrf_token %}
                  {{ form.as_p }}
                <button type="submit" class="save btn btn-default">Save</button>
                </form>
                <button type="button" class="btn btn-primary">Primary</button>
                 <a class="btn btn-default" href="{% url 'main' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            </td>
        </tr>
        {%endfor%}
    </tbody>
</table>

</body>
</html>