{% extends 'tasks/base.html' %}

{% block content %}
<p>
<table class="table">
    <thead>
        <tr>
            <th>Task Number</th>
            <th>Task Name</th>
            <th>Notes</th>
            <th>Actions</th>
            <th><a href="{% url 'task_add' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a></th>
            <th><a href="{% url 'create_user' %}" class="top-menu">add user</span></a></th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr>
            <th scope="row">1</th>
            <td>{{task.title}}</td>
            <td>{{task.text}}</td>
            <td>
                <a class="btn btn-danger" type="submit" href="{% url 'task_delete' pk=task.pk %}">Delete</a>
                {% if task.title %}
                    This task has been completed :)
                {% else %}
                <a class="btn btn-primary" type="submit" href="{% url 'task_complete' pk=task.pk %}">Complete</a>
                {% endif %}
                <a class="btn btn-default" href="{% url 'task_edit' pk=task.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            </td>
        </tr>
        {%endfor%}
    </tbody>
</table>

{% endblock %}